body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.header {
    display: flex;
    font-display: column;
    align-items: center;
    min-height: 160px;
}

.info {
    width: 30px;
    height: auto;
    position: fixed;
    top: 20px;
    right: 8%;
    transition: .3s;
}

.info:hover {
    transform: scale(1.2);
}

.controls {
    display: flex;
    flex-direction: column;
    margin-right: 124px;
    justify-content: right;
    position: relative;
}

.header-date {
    background-color: #09acf6;
    min-width: 80px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-3deg);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.header-date__value {
    display: block;
    color: #fff;
    font-weight: 700;
}

.date {
    font-size: 31px;
}

.month {
    font-size: 18px;
}

.header-title {
    margin: 0;
    padding: 0 40px;
    color: #09acf6;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.1;
    width: 72%;
}

.header-btn {
    outline: none;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 160px;
    background-color: #09acf6;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    transition: background-color .3s;
}

.header-btn:hover {
    background-color: #0989f6;
}

.main-content-wrapper {
    background-color: #f3f3f3;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.content-wrapper {
    background-color: #fdfdfd;
    width: 100%;
    box-sizing: border-box;
}

.container {
    max-width: 1114px;
    width: 100%;
    min-width: 500px;
    margin: 0 auto;
}

.columns {
    display: flex;
    padding: 0 114px;
}

.column {
    width: 33.3%;
    border: 1px dashed #eee;
    height: 100vh;
}

.cards-list {
    margin: 0;
    padding: 0;
}

.cards-item {
    list-style-type: none;
}

.card {
    padding: 12px;
    margin: 10px;
    background-color: red;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transition: .3s;
    font-size: 14px;
}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    font-weight: 700;
}
@media screen and (max-width:800px) {
    .columns {
        padding: 0 3%;
    }
    .header-btn {
        margin-right: 5%;
    }
}